@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@font-face {
    /* Exemplo de fonte, o arquivo não existe de vdd*/
    font-family: 'teste';
    src: url('fonte_teste.otf') format('opentype'), url('fonte_teste.ttf') format('truetype');
    /*  Tipos de formato 
        otf - opentype
        ttf - truetype
        truetype aat
        svg
    */
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #747DC2;
    margin: 0;
}

header{
    font: normal 500 1em Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    font-size: 10pt;
    text-align: center;
    padding: 10px;
    margin: 20px auto;
    width: 900px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #00000036;
}

nav > a{
    margin-right: 10px;
}

main{
    
    font: normal 500 1em Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    font-size: 10pt;
    padding: 10px;
    margin: auto;
    width: 900px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #00000036;
}

h1{
    text-align: center;
    color: #282B42;
    text-shadow: 0px 0px 2px #282b4294;
}

h2, h3{
    color: #282B42;
}

div#teste{
    background-image: linear-gradient(to bottom, blue, red);
    position: relative;
    
    color: white;
    text-align: center;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

div#hover:hover{
    background-image: linear-gradient(to bottom, green, blue);
    top: 30px;
}

a{
    color: #96a2ff;
    font-weight: bold;
}

a:visited{
    color: #6068a5;
}

div.quadrado{
    display: inline-block;

    width: 300px;
    height: 300px;
    border: 3px solid black;
    border-radius: 10px;
}
div#q1{
    background-image: url('../midias/Screenshot_5.png');
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    
}
div#q1:hover{
    position: absolute;
    top: 100px;
    
}

div#centralizar{
    position: relative;
    padding: 10px;
    background: black;
    height: 300px;
}
article#textocentral{
    position: absolute;
    background-color: white;
    background-image: url('../midias/Screenshot_5.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 100px;
    width: 100px;
    border-radius: 10px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 3px;
    margin: 10px 0 0 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
footer p{
    margin: 0;
}